*{
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  box-sizing: 

}

html, body{
  position: absolute;
  font-family: sans-serif;
  line-height: 1.15;
  width: 100%;
  height: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.colorWhite{
  color: #fff;
}

#content-side{
  z-index: 1000000;
  user-select: none;
}

#content-side .header{
  position: fixed;
  width: 100%;
  z-index: 2;
  height: 5em;
  background: #35672f;
  border-bottom: 0.14em solid #ff8518;
  box-shadow: 2px 2px 10px #ccc;
}

.header .logo{
  float: left;
  width: 15em;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 1em;
}

.logo img{
  width: 100%;
}

.header .header-left{
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  float: right;
  right: 0;
  height: 100%;
  margin-right: 2em;
  color: #fff;
  cursor: pointer;
}

.header .header-left .foto-perfil{
  height: 4.3em;
  width: 4.3em;
  border-radius: 100%;
  right: 0;
  border: 2px solid transparent;
  margin: 1em;
  background-color: rgba(233, 233, 233, 0.5);
  overflow: hidden;
}

.header .header-left:hover > .foto-perfil{
  border-color: #fff;
  transform: rotateZ(360deg);
  transition: all 1s ease-in-out;
}

.header .header-left .dados-perfil{
  text-transform: uppercase;
}

#close{
  position: absolute;
  margin-top: 2em;
  z-index: 3;
  left: 100%;
  background: #356931;
  height: 1.8em;
  width: 1.2em;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom-right-radius: .5em;
  border-top-right-radius: .5em;
  cursor: pointer;
  border: none;
}

#close img{
  width: 20px;
}

#content-side .left-side{
  position: fixed;
  width: 16em;
  float: left;
  top: 5em;
  height: calc(100% - 5em);
  background: linear-gradient(to bottom, #32662e, #3c7f2e, #215616, #18460d);
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 2;
}

.left-side .navegacao{
  overflow-y: hidden;
}

.left-side .navegacao:hover{
  overflow-y: auto;
}

.left-side .navegacao::-webkit-scrollbar {
  width: 3px;
  background: #35672f;
}

.left-side .navegacao::-webkit-scrollbar-thumb {
  background: #000;
  position: absolute;
  margin-left: 50px;
  height: 100px;
}

.left-side form.buscar{
  margin-top: 4em;
  width: 13em;
  height: 2em;
  margin: 4em auto 0;
  display: flex;
  border-bottom: 1px solid #fff;
}

.left-side .buscar input{
  height: 100%;
  width: 95%;
  background: none;
  border: none;
  padding: 0 0 0 5px;
  color: #fff;
  clear: both;
}

.left-side .buscar input::placeholder{
  color: rgba(220, 220, 220, 1);
}

.left-side .buscar button{
  clear: both;
  background: none;
  border: none;
  padding: 0em;
  float: left;
  margin-left: .2em;
  cursor: pointer;
}

.left-side .buscar img{
  width: 1.5em;
  height: 1.5em;
}


.left-side .menu{
  list-style: none;
  margin-top: 2em;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.left-side .menu li{
  width: 100%;
  margin: 0em auto;
}

.left-side .menu li a{
  text-decoration: none;
  color: #fff;
  display: flex;
  height: 100%;
  padding: 12px 17px;
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  border-left: 3px solid transparent;
  align-items: center;
}

.menu li.text-subtitle{
  color: #fff;
  margin-top: 1.7em;
  font-size: 90%;
  padding: 15px 2.5em;
}

.left-side .menu li a:hover{
  border-left-color: #ff8518;
  color: #ff8518;
  background: rgba(0, 0, 0, 0.1);
  transition: all 0.1s ease-in-out;
}

.menu li a.active{
  color: #ff8518;
  font-weight: 900;
}

.menu .img{
  width: 10%;
  height: 10%;
  align-items: center;
  float: left;
  margin-right: 1.0em;

}

.menu .img img{
  width: 100%;
}

.content-wrapper{
  top: 5em;
  position: absolute;
  min-height: calc(100% - 5em);
  width: calc(100% - 16em);
  right: 0;
  z-index: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 10em;
}

.content-wrapper .title-content{
  width: 100%;
  background: #57d587;
  padding: 0.4em 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
  letter-spacing: 4px;  
  margin-top: 4em;
}

.title-content .img-content{
  margin-right: 0.5em;
  height: 3em;
  user-select: none;
  width: 3em;
}

.img-content img{
  width: 100%;
}

.content-wrapper .content{
  min-height: 20em;
  width: 80%;
  display: flex;
  flex-direction: row;
  margin: 1em;
  align-items: center;
  flex-flow: row wrap;
  align-content: center; 
  justify-content: center; 
}

.content .link-item{
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  font-weight: 400;
  font-size: 13px;
  margin: 0 auto;
  text-align: center;
  letter-spacing: 3px;
}

.content .materia{
  width: 10em;
  flex: 1;
  align-items: center;
  display: flex;
  flex-direction: column;
}


.content .materia .icon-materia{
  width: 6em;
  height: 6em;
  border-radius: 100%;
  align-items: center;
  justify-content: center;
  right: 0;
  color: #fff;
  display: flex;
  user-select: none;
  border-width: 0;
}

.matematica{
  border: solid #f40;
}

.fisica{
  border: solid #000;
}

.icon-materia img{
  position: absolute;
  border-radius: 100%;
  width: 6em;
  padding: 0.5em;
  background: rgba(180, 180, 180, 0.5); 
}

.content .materia:hover .icon-materia{
  border-width: 1px;
  transform: scale(1.15);
}

.content .materia:hover .icon-materia > *{
  transform: scale(.88);
}

.content .materia:hover .icon-matematica{
  background: #f40;
}

.content .materia:hover .icon-fisica{
  background: #000;
}

.icon-materia, .icon-materia > *{
  transition: all .3s ease-in-out;
}

.content .materia .name-materia{
  margin: 16px;
}

footer{
  position: absolute;
  background: rgba(244, 244, 244, 1);
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  font-size: 12px;
  align-items: center;
  justify-content: center;
  height: auto;
  width: 100%;
  
}

footer .logo-escola{
  width: 6em;
  margin: .5em;
}

footer .txt{
  padding: 1em;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

footer #topo{
  position: absolute;
  background: inherit;
  border: none;
  float: right;
  right: 5.5em;
  top: -1.5em;
  padding: .5em .2em;
  font-size: 12px;
  color: orange;
  font-weight: bold;
  border-radius: 50%;
  border-top-right-radius: 100%;
  border-top-left-radius: 100%;
  cursor: pointer;
  margin-bottom: 2em;
  user-select: none;
}